@import url("reset.css");

* {
	box-sizing: border-box;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.cuttingBoard {
	background: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/purty_wood.png");
	height: 100vh;
	position: relative;
	margin: 0 auto;
}

.tomato {
	background-color: rgb(255, 82, 82);
	position: relative;
	box-shadow: 0 0px 20px 1px rgba(0, 0, 0, 0.2), 0 0px 20px 1px rgba(0, 0, 0, 0.19);
	top: 15%;
	width: 350px;
	height: 350px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgba(255,255,255,1);
	padding: 20px;
	text-align: center;
}
#time {
	position: relative;
	text-align: center;
	font-size: 5em;
	bottom: -105px;
}
.settings{
	position: relative;
	top: -30px;
	left: 10px;
	width: 300px;
	margin: 0 auto;	
	text-align: center;
}
.sessionSet {
	position: relative;	
	top: -30px;
	margin: 0px auto;
	display: inline-block;
	float: left;
	text-align: center;
	left: 0px;
}
.breakSet {
	top: -30px;
	position: relative;
	margin: 0px auto;
	display: inline-block;
	float: left;
	text-align: center;
	right: -5px;
}
#sessionTitle, #breakTitle {
	position: relative;
	top: 5px;
}
#session, #break {
	display: inline-block;
	margin: 0 auto;
	text-align: center;	
	font-size: 2em;
	width: 50px;
	height: 100%;
}
#sessionMin, #sessionAdd, #breakMin, #breakAdd {
	display: inline-block;
	margin: auto;
	width: 30px;
	height: 100%;
	font-size: 2em;
	width: 40px;
	height: 40px;
}
#sessionMin:hover, #sessionAdd:hover, #breakMin:hover, #breakAdd:hover {
	background-color: rgba(233, 82, 82, 1);
	box-shadow: 0 0px 20px 1px rgba(0, 0, 0, 0.2), 0 0px 20px 1px rgba(0, 0, 0, 0.19);
	cursor: pointer;
	border-radius: 50%;
}
#start {
	bottom: -50px;
	font-size: 2.3em;
	position: relative;
	text-align: center;
	clear: both;
	width: 110px;
	margin: 0 auto;
	border-radius: 10px;
}
#start:hover {
	background-color: rgba(233, 82, 82, .8);
	box-shadow: 0 0px 20px 1px rgba(0, 0, 0, 0.2), 0 0px 20px 1px rgba(0, 0, 0, 0.19);
	cursor: pointer;
}
.title {
	position: relative;
	text-align: center;
	bottom: -75px;
}


